html,body {
    font-family: 'Open Sans';
    font-size: 16px;
    padding:0;
    margin:0;
}
// body {
    // display:none;
    // &.is-loaded {
    //     display:block;
    // }
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  
  body,
  html {
    overscroll-behavior: scroll;
    overflow: hidden;
    background-color: #000000;
    height: 100vh;
    width: 100%;
  }
  
  main {
    position: fixed;
    width: 100%;
    height: 100vh;
  }
  
  .scrollable {
    position: absolute;
    // top: 0;
    // left: 0;
    // min-height: 500vw;
    // will-change: transform;
    // overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
    width: max-content;

    .first-slider, .second-slider {
      display: flex;
      flex-wrap: nowrap;
      // overflow-x: scroll;
    }
    .image-container {
      position: relative;
      min-width: 100vw;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  span {
    position: absolute;
    top: 10%;
    right: 20%;
    z-index: 10;
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 7rem;
    color: #f7f961;
  }
  
  h1 {
    position: absolute;
    left: 0;
    top: 70%;
    left: 15%;
    z-index: 10;
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 8rem;
    color: #f7f961;
    font-weight: 300;
  }
  
  img {
    position: absolute;
    width: 60%;
    visibility: hidden;
  }
  
  canvas {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
  }
  