// @font-face {
//     font-family: 'Open Sans';
//     src: url('fonts/OpenSans-Regular.woff2') format('woff2'),
//         url('fonts/OpenSans-Regular.woff') format('woff');
//     font-weight: 500;
//     font-display: swap;
//     font-style: normal;
// }

@font-face {
    font-family: "Harmond";
    src: url("/Harmond-ExtraBoldExpanded.otf") format("opentype");
}