extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block story
	main 
		.scrollable 
			.first-slider 
				.image-container 
					span 01.
					h1 Keepgrading 
					img(src="images/1.jpg", alt="monochrome")
				.image-container 
					span 02.
					h1 Cinemotion 
					img(src="images/2.jpg", alt="street")
				.image-container
					span 03. 
					h1 Thyroide 
					img(src="images/3.jpg", alt="abstract")
				.image-container 
					span 04.
					h1 Hugo Prieto 
					img(src="images/4.jpg", alt="rose")
				.image-container 
					span 05.
					h1 Olympus III 
					img(src="images/5.jpg", alt="rose")
			.second-slider 
				.image-container 
					span 01.
					h1 Keepgrading 
					img(src="images/1.jpg", alt="monochrome")
				.image-container 
					span 02.
					h1 Cinemotion 
					img(src="images/2.jpg", alt="street")
				.image-container
					span 03. 
					h1 Thyroide 
					img(src="images/3.jpg", alt="abstract")
				.image-container 
					span 04.
					h1 Hugo Prieto 
					img(src="images/4.jpg", alt="rose")
				.image-container 
					span 05.
					h1 Olympus III 
					img(src="images/5.jpg", alt="rose")