.wrg.story {
    background-color: #f9f9f9;
    padding: rem(50) 0;
    @media #{$lg} {
        padding: rem(90) 0;
    }
    h2 {
        @include font-size(30px, 36px);
        margin: 0;
    }
    &--red {
        background-color: #f1f1f1;
    }
    &--pink {
        background-color: #f6f6f6;
    }
    a {
        color: #000;
    }
    .story__step {
        padding-bottom: 60px;
        &:last-of-type {
            padding-bottom: 0;
        }
    }
    code {
        color: rgb(250, 250, 250);
        padding: 12px;
        display: block;
        background: #000;
        border-radius: rem(8);
    }
    .story__footer {
        p {
            @include font-size(10px, 15px);
        }
    }
}